{% extends 'master' %}

{% block content %}
  <div class="__banner">
    <div class="banner__inner">
      <img src="/assets/logo.svg">
      <h1>TENDER</h1>
      <h2>Nah, friend. It's not done, yet.</h2>
      <h2>There's not much to say about it.</h2>
    </div>
  </div>
{% endblock %}
