<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <meta name="google-site-verification" content="uAboMVke8Y8QTWKPb6N-AiQ1AzZob1Yb9cDpjKg-sfw" />

  <title>Tender</title>

  {% if isProd %}<link rel="stylesheet" href="{{ files.css }}">{% endif %}
  <link rel="icon" href="assets/favicon.png" type="image/x-icon">
</head>
  {% if context.initialState %}
    <script type="text/javascript">window.__INITIAL_STATE__={{ serialize(context.initialState, { isJSON: true }) | safe }}</script>
  {% endif %}
  {{ APP | safe }}
  <script src="{{ files.clientVendor }}"></script>
  <script src="{{ files.client }}"></script>
  </body>
</html>
