{% extends 'master' %}

{% block content %}
  <div class="__banner">
    <div class="banner__inner">
      <img src="/assets/logo.svg">
      <h1>TENDER</h1>
      <p>Submission Tracking for Writers and Other Thirsty Professionals</p>
      <p>Coming Soon</p>
    </div>
  </div>
{% endblock %}
