{% extends 'master' %}

{% block content %}
  <div class="__banner">
    <div class="banner__inner">
      <img src="/assets/logo.svg">
      <h2>NOT <span>MY</span> DESIGN</h2>
    </div>
  </div>
{% endblock %}
