@font-face {
  font-family: 'Bungee Hairline';
  font-style: normal;
  font-weight: 400;
  src: local('Bungee Hairline'), local('BungeeHairline-Regular'), url(https://fonts.gstatic.com/s/bungeehairline/v2/8Li3dr3whdkxuk7pmLaZaRWqgMgNdllHQUhtGQhe2Hs.woff) format('woff');
}
@font-face {
  font-family: 'Jura';
  font-style: normal;
  font-weight: 400;
  src: local('Jura Regular'), local('Jura-Regular'), url(https://fonts.gstatic.com/s/jura/v7/1sCPU5CVs39F-CcTHpNRm_esZW2xOQ-xsNqO47m55DA.woff) format('woff');
}

body {
  font-family: sans-serif;
  -webkit-font-feature-settings: "kern", "liga", "pnum";
  -moz-font-feature-settings: "kern", "liga", "pnum";
  -ms-font-feature-settings: "kern", "liga", "pnum";
  font-feature-settings: "kern", "liga", "pnum";
  -webkit-font-smoothing: antialiased;
  font-weight: lighter;
  background: #ffffff;
}

* {
  padding: 0;
  margin: 0;
}

.__banner {
  background: #f66a60;
  background: -moz-radial-gradient(top, ellipse cover, #f66a60 11%, #503d67 99%, #503d67 100%);
  background: -webkit-gradient(radial, top center, 0, center center, 100%, color-stop(11%, #f66a60), color-stop(99%, #503d67), color-stop(100%, #503d67));
  background: -webkit-radial-gradient(top, ellipse cover, #f66a60 11%, #503d67 99%, #503d67 100%);
  background: -o-radial-gradient(top, ellipse cover, #f66a60 11%, #503d67 99%, #503d67 100%);
  background: -ms-radial-gradient(top, ellipse cover, #f66a60 11%, #503d67 99%, #503d67 100%);
  background: radial-gradient(ellipse at top, #f66a60 11%, #503d67 99%, #503d67 100%);
}

.__banner {
  height: 80vh;
  width: 100%;
  padding-bottom: 30px;
  justify-content: center;
  align-items: center;
  display: flex;
  text-align: center;
}

.__banner .banner__inner h1 {
  font-family: 'Jura', sans-serif;
  text-transform: uppercase;
  font-size: 7rem;
  margin: 1rem;
  color: #ffffff;
}

.__banner .banner__inner h2 {
  font-family: 'Bungee Hairline', sans-serif;
  text-align: center;
  letter-spacing: .2rem;
    font-weight: 700;
  margin: 1rem;
  font-size: 1rem;
  color: #ffffff;
}

.__banner .banner__inner p,
.__banner .banner__inner a {
  color: #fff;
  font-size: 24px;
  font-weight: 300;
}

.__banner .banner__inner h2 span {
  display: inline-block;
  margin: 0 30px;
}

.__footer {
  text-align: center;
  position: absolute;
  bottom: 30px;
  margin: auto;
  right: 0;
  left: 0;
}

.__footer ul {
  display: table;
  margin: auto;
}

.__footer li {
  border-left: solid 2px #ccc;
  display: table-cell;
}

.__footer li:first-child {
  border: none;
}

.__footer li a {
  transition: opacity 0.5s;
  text-decoration: none;
  display: inline-block;
  font-weight: bold;
  padding: 0px 30px;
  font-size: 13px;
  opacity: 0.8;
  color: #ccc;
}

.__footer li a:hover {
  opacity: 1;
}
