/* bungee-hairline-regular - latin */

[v-cloak] {
  display: none;
}

html {
  font-size: 0.8em;
}

body {
  font-family: sans-serif;
  -webkit-font-feature-settings: "kern", "liga", "pnum";
  -moz-font-feature-settings: "kern", "liga", "pnum";
  -ms-font-feature-settings: "kern", "liga", "pnum";
  font-feature-settings: "kern", "liga", "pnum";
  -webkit-font-smoothing: antialiased;
  font-weight: lighter;
  background: #fff;
}

* {
  padding: 0;
  margin: 0;
}

.__banner {
  background: #f66a60;
  background: -moz-radial-gradient(top, ellipse cover, #f66a60 11%, #503d67 99%, #503d67 100%);
  background: -webkit-gradient(radial, top center, 0, center center, 100%, color-stop(11%, #f66a60), color-stop(99%, #503d67), color-stop(100%, #503d67));
  background: -webkit-radial-gradient(top, ellipse cover, #f66a60 11%, #503d67 99%, #503d67 100%);
  background: -o-radial-gradient(top, ellipse cover, #f66a60 11%, #503d67 99%, #503d67 100%);
  background: -ms-radial-gradient(top, ellipse cover, #f66a60 11%, #503d67 99%, #503d67 100%);
  background: radial-gradient(ellipse at top, #f66a60 11%, #503d67 99%, #503d67 100%);
}

.__banner {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.__banner .banner__inner h1 {
  font-family: 'Jura', sans-serif;
  text-transform: uppercase;
  font-size: 6rem;
  margin: 1rem;
  color: #fff;
}

.__banner .banner__inner h2 {
  font-family: 'Bungee Hairline', sans-serif;
  text-align: center;
  letter-spacing: .2rem;
    font-weight: 700;
  margin: 1rem;
  font-size: 2rem;
  color: #fff;
}

.__banner .banner__inner p,
.__banner .banner__inner a {
  color: #fff;
}

.__banner .banner__inner h2 span {
  display: inline-block;
}

.__banner ul {
  display: table;
  margin: auto;
}

.__banner li {
  border-left: solid 1px #fff;
  display: table-cell;
}

.__banner li:first-child {
  border: none;
}

.__banner li a {
  transition: opacity 0.5s;
  text-decoration: none;
  display: inline-block;
  font-weight: bold;
  padding: 0px 30px;
  font-size: 13px;
  opacity: 0.8;
  color: #fff;
}

.__banner li a:hover {
  opacity: 1;
}
